@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol/Bariol_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* lighter body text */

html,
body {
  color: #5a5a5a;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 150px;
}
#footer {
  background-color: black;
}

/*#wrap > div.current {
  display: block; 
}*/

.container {
  width: auto;
  max-width: 840px;
}
.container .credit {
  margin: 20px 0;
}

.route {
  position: absolute;
  top:0px;
  left: 300px;
  display: inline-block;
  width: 144px;
  height: 144px;

  background-color: black;
  text-align: center;
  border: none;

  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  border-radius: 110px;
  
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

.route-text {
  top:30px;
  font-family: "Bariol", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  display: block;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
}

#ball1.route a h3.route-text {
  /*top: 80px;*/
}

.route a {
  text-decoration: none;
}

.route a:hover h3{
  color: rgba(248, 208, 106, 1);
}

#hero-image-wrap {
  margin-top: 10px;
}

#hero-text-wrap {
  margin-top: 150px;
}

#hero-title {
  font-family: "Bariol", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#about-wrap {
  margin-top: 100px;
  width: auto;
  max-width: 840px;
}

#weare-wrap {
  text-align: center;
  margin-top: 100px;
}

/*#section2 {
  margin-top: 200px;
}*/

.popover {
  width: 400px;
  text-align: left;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

.navbar .nav {
  float: right;
}

ul.nav>li>a {
  line-height: 40px;
  font-size: 18px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
  margin-bottom: 100px;
}

.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* bio styles */
.biopic {
  float: left;
  margin-right: 10px;
}

.carouselLogo{
  float:right;
  position:absolute;
  z-index: 100;
  top:250px;
  right:30%;
  width:20%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container-fluid.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
  }

  .route {
    left: 65px;
  }

  .popover {
    width: 236px;
  }
  
}


@media (max-width: 767px) {

}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .route {
    left: 130px;
  }

  .popover {
    width: 236px;
  }
}